body {
    background: lightgrey;
    color: black;
    padding-bottom: 150px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }

  .hidden {
    visibility: hidden;
    width: 1px;
    height: 1px;
    overflow:hidden;
    position: absolute;
    top: -1000px;
    left: -1000px;
  }

  .div-task {
    cursor: pointer;
    background-color: rgb(170, 169, 169);
    padding: 20px;
    margin-top: 20px;
  }

  .div-task:hover {
    background-color: rgb(196, 196, 196);
  }

  .div-edit-task-class {
    background-color: rgb(170, 169, 169);
  }

  .margins-start {
    margin-left: 150px;
  }

  .margins-end {
    margin-right: 150px;
  }

  .margins-y {
    margin-top: 80px;
    margin-bottom: 50px;
  }

  .paddings {
    padding: 20px;
  }

  .nonurgent-color {
    color : green;
  }

  .normal-color {
    color : blue;
  }

  .urgent-color {
    color : orange;
  }

  .prioritary-color {
    color: red;
  }

  /*
return "nonurgent-color";
      case "NORMALE" :
      return "normal-color";
      case "URGENTE" :
      return "urgent-color";
      case "PRIORITAIRE" :
  */